<div class='top'>
<% if @record.valid? %>
<h3>Ваша заявка</h3>
    <p>Услуга: <%= Service.find_by(id: @record.service_id).title %></p>
    <p>Дата записи: <%= l @record.date, format: :long %></p>
    <p>Техцентр: <%= ServicePoint.find_by(id: @record.service_point_id).address %></p>
    <p>Номер телефона техцентра: <%= ServicePoint.find_by(id: @record.service_point_id).phone_number %></p>
    <p>Мастер: <%= Master.find_by(id: @record.master_id).fio %></p>
    <% if @record.trouble.size != 0 %>
    <p>Ваш комментарий о проблеме: <%= @record.trouble %></p>
    <% end %>
    <% if @record.pictures.size != 0%>
    <p>Прикрепленные фотографии:</p>
    <% @record.pictures.each do |picture| %>
        <%= link_to image_tag(@record.picture_thumb(picture)), picture %>
    <% end %>
    <%end%>
    <p>Статус: <%= @record.status %></p>
    <div class='alert alert-info'>
        <strong id='msg'><%= flash[:notice] %></strong>
</div> 
<% else %>
<ul>
    <% @record.errors.each do |error| %>
       <div class='alert alert-info'><li><%= error.full_message %></li></div>
    <% end %>
  </ul>
  <% end %>
 </div>