 <div id='response-container'></div>
 <h1>Запись на обслуживание в Cars feeling</h1>
 <%= form_with url: "/signings/create_sign", method: :post do |form| %>
  <p><%= form.label :service_id, "Выберите услугу" %></p>
  <p><%= form.collection_select :service_id, Service.order(:title),:id,:title, include_blank: false , id: 'service_select'%></p>
  <p><%= form.label :service_point_id, "Выберите техцентр" %></p>
  <p><%= form.collection_select :service_point_id, ServicePoint.order(:id),:id,:address, include_blank: false, id: 'point_select' %></p>
  <p><%= form.label :date, "Выберите дату" %></p>
  <p><%= form.date_select(:date, start_year: 2022, end_year: 2027, order: [:day, :month, :year], default: Date.today, id: 'date_fd') %></p>
  <p><%= form.label :master_id, "Выберите желаемого мастера" %></p>
  <p><%= form.collection_select :master_id, Master.order(:fio),:id,:fio, include_blank: false, id: 'master_select' %></p>
  <p><%= form.label :trouble, "Кратко опишите проблему(Не обязательное поле)" %></p>
  <p><%= form.text_field :trouble, class: 'form-control' %></p>
  <p><%= form.label :pictures, "Прикрепите фотографию проблемы(Не обязательное поле)" %></p>
  <p><%= form.file_field :pictures, multiple: true, class: 'form-control' %></p>
  <p><%= form.submit("Оставить заявку", id: 'sign_id') %></p>
<% end %>