 <h1>Запись на обслуживание в Cars feeling</h1>
 <%= form_with url: "/signings/create_sign", method: :post do |form| %>
  <p><%= form.label :service_id, "Выберите услугу" %></p>
  <p><%= form.collection_select :service_id, Service.order(:title),:id,:title, include_blank: true %></p>
  <p><%= form.label :date, "Выберите дату" %></p>
  <p><%= form.date_select(:date, start_year: 2022, end_year: 2027, order: [:day, :month, :year], prompt: { day: 'Выберите день', month: 'Выберите месяц', year: 'Выберите год' }) %></p>
  <p><%= form.label :master_id, "Выберите желаемого мастера" %></p>
  <p><%= form.collection_select :master_id, Master.order(:fio),:id,:fio, include_blank: true %></p>
  <p><%= form.label :trouble, "Кратко опишите проблему(Не обязательное поле)" %></p>
  <p><%= form.text_field :trouble, class: 'form-control' %></p>
  <p><%= form.label :photo, "Прикрепите фотографию проблемы(Не обязательное поле)" %></p>
  <p><%= form.text_field :photo, class: 'form-control' %></p>
  <p><%= form.submit("Оставить заявку") %></p>
<% end %>

<div id='response-container'></div>