 <h1>Преимущества работы у нас</h1>
 <div class="container">
  <div class="row align-items-start">

    <div class="col">
     <%= image_tag("house.jpg", height: '300', width: '300') %>
      <p><strong>ДОТАЦИИ НА ПРОЖИВАНИЕ</strong>
      <p>Для автомехаников и<br>
      диагностов, которые не имеют<br>
      своего жилья, мы делаем<br>
      дотацию в сумме<br>
      25 000 руб.<br>
      <strong>ежемесячно</strong>
    </div>

    <div class="col">
    <%= image_tag("money.jpg", height: '300', width: '300') %>
    <p><strong>Достойная оплата труда, выше рынка</strong>
    <p>Перед трудоустройством в нашу компанию у Вас будет возможность пообщаться с действующими<br> 
    сотрудниками и узнать о заработной плате, которую они получают, а так же о нашей системе мотивации.</p>
    У нас всё прозрачно и открыто. Мы понимаем, что<br>
    хорошим специалистам нужно хорошо платить,<br>
    поэтому зарплата наших сотрудников выше рынка.
    </div>

    <div class="col">
    <%= image_tag("carrier.jpg", height: '300', width: '300') %>
      <p><strong>Карьерный рост</strong>
      <p>В нашей компании хорошо отлажена система развития и карьерного роста сотрудников. Вы вполне можете вырасти от механика до управляющего одной из станций сервиса, или ТОП-менеджера управляющей компании.
      <p>Для Вашего роста созданы все условия, и мы ценим тех, кто хочет расти и идёт к своей цели.
      <p>Придя в нашу компанию, Вы лично познакомитесь с теми, кто прошёл путь от обычного механика, или водителя до руководителя сервиса.
    </div>

  </div>
</div>
 <div class='top'><div style="text-align: center;"><%= button_to "Оставить заявку", prom_path, method: :get, data: {turbo_frame: "frame1"}, class: 'form-control', id: 'work_btn'%></div></div>
<%= turbo_frame_tag "frame1" do%>
<div class="my-8 w-full mx-auto" id="content">
      <% render "tests_page" %>
  </div>
<%end%>
