<div class="container">
  <div class="row align-items-start">

    <div class="col">
      <%= image_tag("phone.jpg")%>
    </div>

    <div class="col">
    <%= image_tag("quest.jpg", height: '300', width: '300') %>
    <p><strong>Зачем это нужно?</strong>
    <p>Мы дорожим нашими клиентами, поэтому если у них возникают вопросы,<br> 
    мы всегда будем рады на них ответить или подобрать правильное решение </p>
    У нас всё прозрачно и открыто. Мы понимаем, что<br>
    в любой проблеме есть очень много нюансов,<br>
    поэтому призываем вас проконсультироваться перед заказом услуги.</p>
    <p>Поймите, мы также заинтересованы в вашем заказе, поэтому с вами будут разговаривать люди, которые действительно захотят помочь. Будем рады вашему звонку, хорошего дня
    </div>
  </div>
</div>
 <h1>Запись на консультацию</h1>
 <%= form_with url: "/consultations/consult_response", method: :post do |form| %>
  <p><%= form.label :body, "Кратко опишите цель консультации" %></p>
  <p><%= form.text_field :body, class: 'form-control' %></p>
  <%= form.radio_button :way, 'phone' %> Телефон
  <%= form.radio_button :way, 'mail' %> Почта
  <%= form.radio_button :way, 'any' %> Любой
  <p><%= form.submit("Оставить заявку", id: 'cbtn') %></p>
<% end %>

<div id='consult_response-container'></div>