<div class='top'>
<h1>Ваш заказ</h1>
<p>Услуга: <%= Service.find_by(id: @service.service_id).title %></p>
    <p>Дата записи: <%= l @service.date, format: :long %></p>
    <p>Техцентр: <%= ServicePoint.find_by(id: @service.service_point_id).address %></p>
    <p>Номер телефона техцентра: <%= ServicePoint.find_by(id: @service.service_point_id).phone_number %></p>
    <p>Мастер: <%= Master.find_by(id: @service.master_id).fio %></p>
    <% if @service.trouble.size != 0 %>
    <p>Мой комментарий о проблеме: <%= @service.trouble %></p>
    <% end %>
     <% if @service.pictures.size != 0%>
    <p>Прикрепленные фотографии:</p>
    <% @service.pictures.each do |picture| %>
        <%= link_to image_tag(@service.picture_thumb(picture)), picture %>
    <% end %>
    <%end%>
    <p>Статус: <%= @service.status %></p>
<h1>Редактировать заказ</h1>
<%= form_with url: data_up_path, method: :post do |form| %>
  <p><%= form.label :date, "Выберите дату" %></p>
  <p><%= form.date_select(:date, start_year: 2022, end_year: 2027, order: [:day, :month, :year], prompt: { day: 'Выберите день', month: 'Выберите месяц', year: 'Выберите год' }) %></p>
  <p><%= form.submit "Обновить" %></p>
<% end %>
<%= button_to 'К заказам', records_path, method: :get, class: 'form-control' %>
</div>
<div id='error_response-container'></div>