<h3>Просмотр всех заказов</h3>
<% k = 1 %>
<%@my_services.order(date: :desc).each do |record|%>
<div class='line'></div>
<h3><%= k %> Заказ:</h3>
    <p>Услуга: <%= Service.find_by(id: record.service_id).title %></p>
    <p>Дата записи: <%= l record.date, format: :long %></p>
    <p>Техцентр: <%= ServicePoint.find_by(id: record.service_point_id).address %></p>
    <p>Номер телефона техцентра: <%= ServicePoint.find_by(id: record.service_point_id).phone_number %></p>
    <p>Мастер: <%= Master.find_by(id: record.master_id).fio %></p>
    <% if record.trouble.size != 0 %>
    <p>Мой комментарий о проблеме: <%= record.trouble %></p>
    <% end %>
     <% if record.pictures.size != 0%>
    <p>Прикрепленные фотографии:</p>
    <% record.pictures.each do |picture| %>
        <%= link_to image_tag(record.picture_thumb(picture)), picture %>
    <% end %>
    <%end%>
    <p>Статус: <%= record.status %></p>
    <% k += 1 %>
<% end %>