<!DOCTYPE html>
<html>
  <head>
    <title>Car_Service</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU">
	</script>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom header">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4"><strong><span class='purple'>Cars feeling</span></strong></span>
      <div class='text-right'>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-3 mb-md-0">
         <% if user_signed_in? %>
            <strong><span class='purple'><%= current_user.login %></span></strong>
            <li><strong><%= link_to "Редактировать профиль", edit_user_path(current_user), class: 'nav-link px-2' %></strong></li>
            <li><strong><%= link_to "Корзина", busk_path, class: 'nav-link px-2' %></strong></li>
            <li><strong><%= link_to "Выйти", session_path, data: {turbo_method: :delete}, class: 'nav-link px-2' %></strong></li>
            <% else %>
            <li><strong><%= link_to "Войти", login_path, class: 'nav-link px-2' %></strong></li>
            <li><strong><%= link_to "Зарегистрироваться", new_user_path, class: 'nav-link px-2' %></strong></li>
            <% end %>
            <li><strong><%= link_to "О компании", home_path, class: 'nav-link px-2' %></strong></li>
            <li><strong><%= link_to "Услуги", service_path, class: 'nav-link px-2' %></strong></li>
            <li><strong><%= link_to "Галерея", photo_path, class: 'nav-link px-2' %></strong></li>
            <li><strong><%= link_to "Контакты", contacts_path, class: 'nav-link px-2', data: {turbo: false} %></strong></li>
        </ul>
         </div>
      </a>
    </header>
  <body background="body.jpg">
  <div class = "container">
    <% flash.each do |type, msg| %>
      <div class='alert alert-info'>
        <strong id='msg'><%= msg %></strong>
      </div> 
    <% end %>
    <%= yield %>
    </div>
  </body>
<footer>
        <div class="footer">
            <div class="wrapper_main">
                <div class="footer_container">
                    <div class="footer_card">
                            <h3>
                                <span>C</span>ars feeling
                            </h3>
                            <hr>
                            <h3><span class="span_footer">Контакты</span></h3>
                            <div class="car_time">
                                <h5><span>Служба контроля качества</span></h5>
                                <span><h6>+7 916 384-91-19</span>
                                <p><span><h6>yagmurov.igor@mail.ru</span></p>
                                <h5><span class="span_footer">Мы в социальных сетях:</span></h5>
                                <li><h6><a href="https://vk.com/yai08">ВКонтакте</a></li>
                                <li><h6><a href="https://sueta.fun/users/6/">Суета_фан</a></li>
                                <li><h6><a href="https://github.com/CodeIgor31">GitHub</a></li>
                            </div>
                    </div>
                    <div class="footer_card">
                        <h3>With all love</h3>
                        <hr>
                        <h3><span class="span_footer">Коротко о нас</span></h3>
                        <ul>
                        <li><h6>Лучшие на рынке</li>
                        <li><h6>Быстрый сервис</li>
                        <li><h6>Качественная работа</li>
                        <li><h6>Выполним любой ваш заказ</li>
                        <li><h6>Вы всегда правы</li>
                        </ul>
                    </div>
                    <div class="footer_card card_end">
                        <h3>You're the best</h3>
                        <hr>
                        <h3><span class="span_footer">Наша локация в Москве</span></h3>
                        <ul>
                        <li><h6><a href="">cars@feelingcompany.ru</a></li>
                        <li><h6>Восточный административный округ</li>
                        <li><h6>улица 9-го Мая, 26</li>
                        <li><h6>Почтовый индекс: 105173</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>